{% extends 'base.html' %}


{% block content %}

{{super()}}

<div class ='container-fluid'>
    <div class row= 'row ' id = 'accHead'>
            
        <div class = 'col'>
            Booking details
        </div>
      
    </div>
    <div class = 'row' id = 'accRow'>
        <div class = 'col' id ='accText'>
        {% for i in bookings %}
                <p class = 'accTextInfo'><br> Park: {{i.park}}, site: {{i.campground}}, inner campground : {{i.inner_Campground}}, site: {{i.site}},
                                        site type: {{i.site_type}}, arrival date: {{i.arrival_date}}, Currently Booked: {{i.booked}} </p>
        {% endfor %}
        </div>
    </div>
</div>



<div class ='container-fluid' id = 'formHolder'>
    <form method = 'POST' action='' name ='value'>
        
            <div class="row">
                <div class ='col'>
                {{form.csrf_token() }}<br>
                </div>
            </div> 

            <div class ="row mt-5">
                <div class = 'col-6 offset-4'>
                    {{form.park.label(class = 'text_')}}<br>
                    {{form.park}}
                </div>
            </div>

            <div class = 'row mt-5'>
                <div class = 'col-6 offset-4'>
                    {{form.camp.label(class = 'text_')}}<br>
                    {{form.camp}}
                </div>
            </div>
        <div class = 'row mt-5'>
            <div class = 'col-6 offset-4'>
                {{form.site.label(class = 'text_')}}<br>
                {{form.site}}
            </div>
        </div>
        <div class = 'row mt-5'>
            <div class = 'col-6 offset-4'>
                {{form.submit(class = 'btn btn-default')}}
               
            </div>
        </div>
</form>
</div>

<script type="text/javascript">
    window.onload = function(){ alert("Enter the park, camp, and site as they appear in the booking details to cancel a order that hasnt been placed yet.")}
    function myFunction() {
  var x = document.getElementById("occupant");
  if (x.style.display === "none") {
    x.style.display = "";
  } else {
    x.style.display = "none";
  }
} 
</script>


{% endblock %}