{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class = 'container-fluid' id = 'helpDiv'>
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
        <p id ='faq'> FAQ </p>
        </div>
    </div>
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
            <p id ='faqLH'>
                &#129302 The function of this service &#129302
            </p>
        </div>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#129340 We all know how competitive the reservations for the BC parks website is. &#129340</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'>&#129351 This website is designed to help you book your BC Parks campsites and give you an edge over your competitors. &#129351</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'>&#9978 This is a paid service that can scan for open campsites to notify you when one you want becomes available, or we can use your information 
            to do that plus book the campsite for you. &#9978</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'>&#9749 If you're anything like me you know how often you check your text and emails, the platinum plan will give you the ultimate edge in
            in planning your outdoor excursions without you obsessively searching for an open site to book. &#9749</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
            <p id ='faqLH'>
                &#129300 Why you should utilize this service &#129300
            </p>
        </div>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'>&#128531 There is a small window of a few months you can book sites, if you would like to book a site in four months
        After entering that information, this service will be waiting at the reserve site page 5 minutes before the 7:00 am time. &#128531 </p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#9201 This service books a site 400% faster then a human can while continually searching for availability. &#9201</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id = 'faqL'> &#128507 Were cheaper and better then campnab, in the words of my tech forebearers... "Move fast and break things." &#128507</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
            <p id ='faqLH'>
                &#128110 Security concerns &#128110
            </p>
        </div>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128274 We do not give your data out to 3rd parties and it is safe in a secure database. &#128274</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128274 Your data is encrypted before being stored on the database with three levels of security, the keys to
            your encrypted data is stored in a seperate storage base for maximum security. &#128274
        </p>
    </div>
    
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
            <p id ='faqLH'>
                &#9997 Cost and plans available &#9997
            </p>
        </div>
    </div>

    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128179 We have single use purchases and monthly and yearly subscriptions. &#128179</p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128178 The cost can be as low as 6$ for one time bronze use and high as 400$ for a platinum annual subscription. &#128178
        </p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128175 Check out our payments page for different plans and products. &#128175
        </p>
    </div>
    
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
            <p id ='faqLH'>
                &#128683 Cancelling subscriptions &#128683
            </p>
        </div>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128198 There is a one month waiting period to cancel your monthly subscription, You will have to pay for the current month you're in. &#128198
        </p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128270 For annual subscriptions the period is two months from the date you have cancelled. &#128270
        </p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> &#128557 Why do we do that? there are costs associated with chargebacks and running a service like this. &#128557 
        </p>
    </div>
    <div class = 'row' id = 'helpRow'>
        <div class = 'col text-center'>
            <p id ='faqLH'>
                &#10067 Questions and Concerns &#10067
            </p>
        </div>
    </div>
    <div class = 'row' id = 'helpRow'>
        <p id ='faqL'> 
            Send us an email at <a href = 'campsite.booking.service@gmail.com'>campsite.booking.service@gmail.com</a>a and someone from our team will reach out right away!
        </p>
    </div>

</div>



{% endblock %}